{ config, pkgs, options, ... }:

let hostname="wombat11k";
in
{
  imports =
    [ # Include the results of the hardware scan.
      ./hardware-configuration.nix
      (/home/amy/dotWombat/nixos + "/${hostname}.nix")
      /home/amy/dotWombat/nixos/base.nix
      /home/amy/dotWombat/nixos/locale.nix
      /home/amy/dotWombat/nixos/xserver.nix
      /home/amy/dotWombat/nixos/wayland.nix
      /home/amy/dotWombat/nixos/python3.nix
      /home/amy/dotWombat/nixos/containers.nix
      /home/amy/dotWombat/nixos/packages.nix
    ];
}
